<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TODO supply a title</title>
    </head>
    <body>
        <section class="mt-5 text-center" th:fragment="header_imagen">
            <div>
                <img src="https://pbs.twimg.com/media/EYUDRqmXYAItjs1?format=jpg&name=4096x4096" class="img-fluid" alt="..." width="4000" height="1500">
            <div/>
        <section>

            <section th:fragment="listadoServicios">
                <div class="my-5">
                    <div class="text-center">
                        <h2>Nuestros Servicios</h2>
                    </div>
                    <div class="p-2">
                        <div class="row p-5 mx-4">
                            <div th:if="${servicios == null or servicios.empty}" class="text-center">
                                <h5 class="fst-italic fw-light">No hay servicios que mostrar...</h2>
                            </div>
                            <div th:each="s : ${servicios}" class="col">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-title text-center">
                                            <h3>[[${s.titulo}]]</h3>
                                        </div>
                                        <div class="card-body text-center">
                                            <img th:src="${s.imgurl}" height="200" alt="alt"/>
                                        </div>
                                        <div class="card-footer text-center">
                                            <button class="btn btn-danger"><a th:href="@{/servicio/verServicio/}+${s.idServicio}" class="btn">Mas Informacion</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="mt-5 pt-5" th:fragment="verServicio">
                <div class="container">
                    <div class="my-4">
                        <button class="btn btn-danger">
                            <a th:href="@{/servicio/listado}" class="btn"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </button>
                    </div>
                    <div class="my-4">
                        <div class="row">
                            <h2>[[${servicio.titulo}]]</h2>
                            <div class="card mt-4 col-md-4">
                                <img th:src="@{${servicio.imgurl}}" alt="alt"/>
                            </div>
                            <div class="col-md-8 mt-4">
                                <h2>Descripcion</h2>
                                <p class="fs-4">[[${servicio.descripcion}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>
